<!-- Sending Email Notification  Code -->
<!-- <div class="container" style='background: white;'>
  <div>
     <a style="margin-left: 99%;cursor: pointer;" (click)="cancle()"><i class="fa fa-window-close" aria-hidden="true"></i></a>
    <h3>Reset Your Password</h3>
    <p>Please provide the email address you used when you signed up for your Gmail account.</p>
    <p>We will send you an email with a link to reset your password.</p>
  </div>
  <form action="">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Your registered email" aria-label="Your registered email" aria-describedby="button-addon2">
      <br/>
        <button class="btn btn-outline-secondary" style='margin-top: 5%; margin-bottom: 3%;' type="button" id="button-addon2">Send Email</button>

    </div>
  </form>
</div> -->

<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
       <a style="margin-left: 95%;cursor: pointer;" (click)="cancle()"><i class="fa fa-window-close" aria-hidden="true"></i></a>
      <h2> Forget Password Form </h2>

    </div>
    <div class="row clearfix">
        <form  style ='width: 100%;' [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPasswordSubmit()">
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input type="email"   formControlName="regEmail" name="regEmail"
             placeholder="Email"  class="form-control" 
             [ngClass]="{ 'is-invalid': submitted && f.regEmail.errors }"/>
             <div *ngIf="submitted && f.regEmail.errors" class="invalid-feedback">
              <div *ngIf="f.regEmail.errors.required">Email is required</div>
              <div *ngIf="f.regEmail.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password"  formControlName="regOldPassword" id="regOldPassword"
            name="regOldPassword" placeholder="Enter Old Password" class="form-control"  
            [ngClass]="{ 'is-invalid': submitted && f.regOldPassword.errors }" />
             <div  *ngIf="submitted && f.regOldPassword.errors" class="invalid-feedback">
              <div *ngIf="f.regOldPassword.errors.required">Old Password is required</div>
              <div *ngIf="f.regOldPassword.errors.pattern">Old Password is not valid. </div>
            </div>
          </div>

          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password"  formControlName="regNewPassword"  id="regNewPassword"
            name="regNewPassword" placeholder="Enter New Password" class="form-control"  
            [ngClass]="{ 'is-invalid': submitted && f.regNewPassword.errors }" />
             <div  *ngIf="submitted && f.regNewPassword.errors" class="invalid-feedback">
              <div *ngIf="f.regNewPassword.errors.required">New Password is required.</div>
              <div *ngIf="f.regNewPassword.errors.pattern">New Password is not valid. </div>
            </div>
          </div>

          
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password"  formControlName="regConfirmPassword" id="regConfirmPassword"
            name="regConfirmPassword" placeholder="Confirm New Password" class="form-control"  
            [ngClass]="{ 'is-invalid': submitted && f.regConfirmPassword.errors }" />
             <div  *ngIf="submitted && f.regConfirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.regConfirmPassword.errors.required">Confirm Password is required.</div>
              <div *ngIf="f.regConfirmPassword.errors.pattern">Confirm Password is not valid. </div>
              <div *ngIf="f.regConfirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </div>

        <input class="button" type="submit" value="Register" />
        </form>
    </div>
  </div>
</div>